<section class="video-section">
    <div class="container-fulid">
        <div class="vedio-section-outer"
             style="background-image: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?w=1920&h=600&fit=crop&q=80');">
            <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A" class="lightbox-image">
                <i class="icon-14"></i>
            </a>
        </div>
    </div>
</section>